@{
    ViewData["Title"] = "Refugiados";
    var _trabalhos = ViewData["_trabalhos"] as List<Trabalho>;
    var trabalhos = ViewData["trabalhos"] as List<Trabalho>;
    var moradias = ViewData["moradias"] as List<Moradia>;
    //var idUsuario = ViewData["id"];

}
<!-- Section dos Cards Informacoes uteis -->
<section id="scrollbar" class="info-utels d-flex align-items-start justify-content-center flex-wrap col">
    <div class="max-width-800 d-flex flex-wrap">
        <div class="tit-home">News</div>

        <!--Card 1-->
        <div class="card-infos d-flex align-items-end flex-wrap w-100">
            <div class="link-cat-news">
                <a asp-controller="Blog" asp-action="index">
                    Informações Úteis
                    <img src="/img/Arrow.svg" alt="">
                </a>
            </div>
            <div class="card-infos-img">
                <img src="/img/banner-primeiros-passos.svg" />
            </div>
            <article class="text-start cards-infos-desc">
                <div class="d-flex h-100 align-items-start justify-content-center flex-column">
                    <div class="risk-title-left">
                        <h2 class="title-banner">Primeiros Passos</h2>
                        <p>
                            Tudo o que você precisa saber
                            antes de se refugiar para o Brasil!
                        </p>
                    </div>
                    <a asp-controller="Blog" asp-action="index">Continue <img src="/img/Arrow.svg" style="width:15px" alt="Seta link para continuar"></a>
                </div>
            </article>
        </div>

        <!--Card 2-->
        <div class="row m-0">
            <div class="card-infos-2-3 d-flex align-items-end flex-wrap col">
                <div class="link-cat-news">
                    <a asp-controller="Blog" asp-action="index">
                        Informações Úteis
                        <img src="/img/Arrow.svg" alt="">
                    </a>
                    <div class="card-infos-img-m">
                        <img src="/img/banner-estudos.svg" />
                    </div>
                </div>
                <article class="text-start cards-infos-desc">
                    <div class="d-flex h-100 align-items-start justify-content-center flex-column">
                        <h2 class="title-banner">Estudos</h2>
                        <p>
                            Conheça as principais Ongs responsáveis por revalidação
                            de diplomas no Brasil!
                        </p>
                        <a asp-controller="Blog" asp-action="index">Continue <img src="/img/Arrow.svg" style="width:15px" alt="Seta link para continuar"></a>
                    </div>
                </article>
            </div>

            <!--Card 3-->
            <div class="card-infos-2-3 d-flex align-items-end flex-wrap col">
                <div class="link-cat-news">
                    <a asp-controller="Blog" asp-action="index">
                        Informações Úteis
                        <img src="/img/Arrow.svg" alt="">
                    </a>
                    <div class="card-infos-img-m">
                        <img src="/img/banner-documentacao.svg" />
                    </div>
                </div>
                <article class="text-start cards-infos-desc">
                    <div class="d-flex h-100 align-items-start justify-content-center flex-column">
                        <h2 class="title-banner">Violência</h2>
                        <p>
                            Ajude a evitar a violência Física e Emocional contra
                            as mulheres refugiadas, Veja Ongs parceiras!
                        </p>
                        <a asp-controller="Blog" asp-action="index">Continue <img src="/img/Arrow.svg" style="width:15px" alt="Seta link para continuar"></a>
                    </div>
                </article>
            </div>
        </div>

        <!--Card 4-->
        <div class="card-infos d-flex align-items-end flex-wrap w-100">
            <div class="link-cat-news">
                <a asp-controller="Blog" asp-action="index">
                    Informações Úteis
                    <img src="/img/Arrow.svg" alt="">
                </a>
            </div>
            <div class="card-infos-img">
                <img src="/img/banner-cidadania.svg" />
            </div>
            <article class="text-start cards-infos-desc">
                <div class="d-flex h-100 align-items-start justify-content-center flex-column">
                    <div class="risk-title-left">
                        <h2 class="title-banner">Primeiros Passos</h2>
                        <p>
                            Saiba do que é necessário no Brasil para
                            tirar um documento de Dupla-Cidadania!
                        </p>
                    </div>
                    <a asp-controller="Blog" asp-action="index">Continue <img src="/img/Arrow.svg" style="width:15px" alt="Seta link para continuar"></a>
                </div>
            </article>
        </div>

    </div>

</section>

<!-- Section dos Feeds Gerais -->
<section id="scrollbar" class="feeds col-5">
    <h1 class="tit-home">Feeds</h1>

    <div class="d-flex justify-content-center align-items-center flex-wrap">

        <!-- Novas Postagens-->
        <div class="p-3 feed-cat d-flex text-white bold justify-content-center bg-">

            <div class="btn-cat px-3 h-100">
                <a asp-controller="Moradia" asp-action="index">
                    <img src="~/img/moradia.svg" width="20px" alt="postagens sobre moradias" srcset="">
                    Moradias
                </a>
            </div>
            <div class="btn-cat px-3 h-100">
                <a asp-controller="Trabalho" asp-action="index">
                    <img src="~/img/empregos.svg" width="20px" alt="postagens sobre empregos" srcset="">
                    Emprego
                </a>
            </div>
            <div class="btn-cat px-3 h-100">
                <a asp-controller="Blog" asp-action="index">
                    <img src="~/img/info uteis.svg" width="20px" alt="postagens sobre  info úteis" srcset="">
                    Informações
                </a>
            </div>
            <div class="btn-cat px-3 h-100">
                <a asp-controller="Ong" asp-action="index">
                    <img src="~/img/ongs parceiras.svg" width="20px" alt="postagens sobre ongs" srcset="">
                    Ongs
                </a>
            </div>

        </div>

        <!-- Postagem Única 1-->

        <div class="row w-100">

            <!--Feeds dos Empregos-->
            <div class="col-sm-6 p-3" id="trabalhos">
                @{
                    // Faz a lista oportunidade de trabalho se existir alguma.
                    if (trabalhos.Count > 0)
                    {
                        foreach (var trabalho in trabalhos)
                        {

                            <div class="card-feed grad-blue mb-5">
                                <!-- Avatar -->
                                <div class="avatar-profile w-100 d-flex justify-content-center">
                                    <a asp-controller="Pessoa" asp-action="PerfilPublico" asp-route-id="@trabalho.Id_pessoa">
                                        <img src="~/Imagem/VerImagem/@trabalho.Id_pessoa?tipo=perfil" alt="imagem do perfil" />
                                    </a>
                                </div>

                                <!-- boato ver detalhes do post -->
                                <div class="edit-post w-100 d-flex flex-column align-items-center">
                                    <img src="~/img/points-edit.svg" class="opacity-50" alt="editar postagem" width="15px">
                                    <a asp-controller="Trabalho" asp-action="Detalhes" asp-route-id="@trabalho.Id" asp-route-pessoaId="@trabalho.Id_pessoa">
                                        Detalhes
                                    </a>
                                </div>

                                <!-- Nome profile e data post -->
                                <div class="d-flex px-3 align-items-start flex-column">
                                    <h3><a href="">@trabalho.NomeContato</a></h3>
                                    <div class="post-profile-cat">
                                        <span>@String.Format("{0:dd/MM/yyyy}", trabalho.DataCadastro) - Oferta de Emprego</span>
                                    </div>
                                </div>

                                <!-- icon post -->
                                <img src="~/img/empregos.svg" width="78px" class="opacity-25 d-flex card-icon" alt="postagens sobre empregos" srcset="">

                                <!-- titulo e descricao do post -->
                                <div class="card-feed bg-light shadow p-4 text-left">
                                    <h2>
                                        <a asp-controller="Trabalho" asp-action="Detalhes" asp-route-id="@trabalho.Id" asp-route-pessoaId="@trabalho.Id_pessoa">
                                            @trabalho.Nome - @trabalho.Instituicao
                                        </a>
                                    </h2>
                                    <p>
                                        @trabalho.Atividade
                                    </p>
                                </div>

                                <!--Botao Compartilhar-->
                                <div class="card-btn d-flex justify-content-center align-items-center">

                                    <a href="#">
                                        <img src="~/img/icon-compartilhar-1.svg" class="opacity-50" alt="compartilhar no Whatsapp" width="15px">
                                        <b>Compartilhar</b>
                                    </a>

                                    <div class="card-btn-popup d-flex px-5 justify-content-center align-items-center row">

                                        <div class="col-3">
                                            <a href="https://api.whatsapp.com/send?text=https://projetoandor.azurewebsites.net/Trabalho/Detalhes/@trabalho.Id?@trabalho.Id_pessoa"><img src="~/img/icon-whatsapp.svg" class="opacity-50" alt="compartilhar no Whatsapp"></a>
                                        </div>

                                        <div class="col-3">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://projetoandor.azurewebsites.net/Trabalho/Detalhes/@trabalho.Id?@trabalho.Id_pessoa">
                                                <img src="~/img/icon-facebook.svg" class="opacity-50" alt="compartilhar no Facebook">
                                            </a>
                                        </div>
                                        <!--
                                        <div class="col-3">
                                            <a href="">
                                                <img src="~/img/icon-twitter.svg" class="opacity-50" alt="compartilhar no Twitter">
                                            </a>
                                        </div>

                                        <div class="col-3">
                                            <a href="">
                                                <img src="~/img/icon-email.svg" class="opacity-50" alt="compartilhar por E-mail">
                                            </a>
                                        </div>
                                            -->
                                    </div>
                                </div>

                            </div>

                        }
                    }
                }
            </div>

            <!--Feeds da Moradia-->

            <div class="col-sm-6 p-3" id="moradias">
                @{ // Faz a lista moradias se existir alguma.
                    if (moradias.Count > 0)
                    {
                        foreach (var moradia in moradias)
                        {
                            <div class="card-feed  mb-5 grad-green">
                                <!-- Avatar -->
                                <div class="avatar-profile w-100 d-flex justify-content-center">
                                    <a asp-controller="Pessoa" asp-action="PerfilPublico" asp-route-id="@moradia.Id_pessoa">
                                        <img src="~/Imagem/VerImagem/@moradia.Id_pessoa?tipo=perfil" alt="imagem do perfil" />
                                    </a>
                                </div>

                                <!-- boato ver detalhes do post -->
                                <div class="edit-post w-100 d-flex flex-column align-items-center">
                                    <img src="~/img/points-edit.svg" class="opacity-50" alt="editar postagem" width="15px">
                                    <a asp-controller="Moradia" asp-action="Detalhes" asp-route-id="@moradia.Id" asp-route-pessoaId="@moradia.Id_pessoa">Detalhes</a>
                                </div>

                                <!-- Nome profile e data post -->
                                <div class="d-flex align-items-start px-3 flex-column">
                                    <h3><a href="">@moradia.NomeContato</a></h3>
                                    <div class="post-profile-cat">
                                        <span>@String.Format("{0:dd/MM/yyyy}", moradia.DataCadastro) - Oferta de Emprego</span>
                                    </div>
                                </div>

                                <!-- icon post -->
                                <img src="~/img/moradia.svg" width="70px" class="opacity-25 d-flex card-icon" alt="postagem sobre moradias" srcset="">

                                <!-- titulo e descricao do post -->
                                <div class="card-feed bg-light shadow p-4 text-left">
                                    <h2>
                                        <a asp-controller="Moradia" asp-action="Detalhes" asp-route-id="@moradia.Id" asp-route-pessoaId="@moradia.Id_pessoa">
                                            @moradia.Name - R$ @moradia.Preco.ToString("#,###,###.00")
                                        </a>
                                    </h2>
                                    <p>
                                        @moradia.Descricao
                                    </p>
                                </div>

                                <!--Botao Compartilhar-->
                                <div class="card-btn d-flex justify-content-center align-items-center">

                                    <a href="#">
                                        <img src="~/img/icon-compartilhar-1.svg" class="opacity-50" alt="compartilhar no Whatsapp" width="15px">
                                        <b>Compartilhar</b>
                                    </a>

                                    <div class="card-btn-popup d-flex px-5 justify-content-center align-items-center row">

                                        <div class="col-3">
                                            <a href="https://api.whatsapp.com/send?text=https://projetoandor.azurewebsites.net/Trabalho/Detalhes/@moradia.Id?@moradia.Id_pessoa">
                                                <img src="~/img/icon-whatsapp.svg" class="opacity-50" alt="compartilhar no Whatsapp">
                                            </a>
                                        </div>

                                        <div class="col-3">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://projetoandor.azurewebsites.net/Trabalho/Detalhes/@moradia.Id?@moradia.Id_pessoa">
                                                <img src="~/img/icon-facebook.svg" class="opacity-50" alt="compartilhar no Facebook">
                                            </a>
                                        </div>
                                        <!--
                                        <div class="col-3">
                                            <a href="">
                                                <img src="~/img/icon-twitter.svg" class="opacity-50" alt="compartilhar no Twitter">
                                            </a>
                                        </div>

                                        <div class="col-3">
                                            <a href="">
                                                <img src="~/img/icon-email.svg" class="opacity-50" alt="compartilhar por E-mail">
                                            </a>
                                        </div>
                                        -->

                                    </div>
                                </div>

                            </div>

                        }
                    }
                }

            </div>
        </div>

        <div id="pai"></div>

    </div>
</section>