@{
    ViewData["Title"] = "Profissionais";
    var profissionais = ViewData["profissional"] as List<Profissional>;
   
}

<div class="container-fluid pt-0 bg-light">
    <div class="container text-black-50 p-3">
        <div class="px-3 pt-3 pb-2 mb-2 forms-details-full">
            <div class="row">
                <div class="col">
                    <h3>Profissionais</h3>
                </div>
                <div class="col text-right">
                    <form asp-controller="Trabalho" asp-action="Filtrar" method="post">
                        <select name="uf" class="select-uf">
                            <option selected>UF</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MS</option>
                            <option>MT</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>                     
                        <input type="submit" value="Filtrar" class="btn btn-principal" />
                    </form>
                </div>
            </div>
        </div>
        @{  // lista formaçoes se existir alguma.
            if (profissionais.Count > 0)
            {
                foreach (var profissional in profissionais)
                {
                    <div class="pt-3 px-3 mb-2 forms-details-full">
                        <h1 class="title-details pb-2 border-bottom"><strong><a asp-controller="Trabalho" asp-action="Detalhes" asp-route-id="" asp-route-pessoaId="">@profissional.Nome</a></strong></h1>
                        <dl class="row">
                            <dt class="col-3">Instituição</dt>
                            <dd class="col-9">@profissional.Instituicao</dd>
                            <dt class="col-3">Descrição</dt>
                            <dd class="col-9">@profissional.Descricao</dd>
                            
                            <dt class="col-3">Início</dt>
                            <dd class="col-9">@String.Format("{0:dd/MM/yyyy}", profissional.Inicio)</dd>
                            
                            <dt class="col-3">Fim</dt>
                            <dd class="col-9">@String.Format("{0:dd/MM/yyyy}", profissional.Fim)</dd>
                            <dt class="col-3">Nome</dt>
                            <dd class="col-9">@profissional.PessoaNome</dd>
                            <dt class="col-3">UF</dt>
                            <dd class="col-9">@profissional.PessoaUF</dd>
                        </dl>
                    </div>
                }
            }
        }   
        

        @{  /*
            if (pro != null)
            {
                foreach (var profissional in pro)
                {
                    <div class="pt-3 px-3 mb-2 forms-details-full">
                        <h1 class="title-details pb-2 border-bottom"><strong><a asp-controller="Trabalho" asp-action="Detalhes" asp-route-id="" asp-route-pessoaId="">@profissional.Nome</a></strong></h1>
                        <dl class="row">
                            <dt class="col-3">Instituição</dt>
                            <dd class="col-9">@profissional.Instituicao</dd>
                            <dt class="col-3">Descrição</dt>
                            <dd class="col-9">@profissional.Descricao</dd>
                            
                            <dt class="col-3">Início</dt>
                            <dd class="col-9">@String.Format("{0:dd/MM/yyyy}", profissional.Inicio)</dd>
                            
                            <dt class="col-3">Fim</dt>
                            <dd class="col-9">@String.Format("{0:dd/MM/yyyy}", profissional.Fim)</dd>
                        </dl>
                    </div>
                }
            }*/
        } 


        <br />
        <br />
        <br />
    </div>
</div>